ORACLE_SID=ASM+
ORACLE_VER=102_64
ORACLE_HOME=/oracle/$ORACLE_SID/$ORACLE_VER
ORACLE_BASE=/oracle/$ORACLE_SID
ORACLE_TERM=xterm
PATH=/usr/bin:/usr/sbin/:$ORACLE_HOME/bin
NLS_LANG=AMERICAN_AMERICA.UTF8
export ORACLE_SID ORACLE_HOME ORACLE_BASE ORACLE_TERM PATH NLS_LANG
